/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body {
  background: #ECEFF1;
  text-align: center;
}

a {
  color: inherit;
}

h1{
  font-family: 'Roboto', sans-serif;
  color:#F44336;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-right:15%;
}

h1 {
  font-size: 3em;
}